.left {
    width: 25vw;
    background-color: black;
    height: 100vh;

}
.right {
    width: 75vw;
    background-color: black;
    max-height: 100vh;
    overflow-y : hidden;
    position: relative;

}

.pause {
    width: 20px;
}

.lib {
    padding: 1px;
    margin: 10px;
    max-width: 80vw;
}

.home ul li {
    list-style: none;
    width: 24px;
    font-size: 16px;
    display: flex;
    gap: 0.75rem;
}

.home ul {
    margin-top: 10px;
}

#logo {
    height: 24px;
    width: 88px;
}

.home {
    padding: 8px 12px 8px 12px;
    margin: 10px;
    font-weight: 700;
}

.heading {
    padding: 8px 12px 8px 12px;
    margin: 8px;
    display: flex;
    gap: 0.75rem;
    font-weight: 700;
    max-height: 80vh;
    margin-bottom: 0px;
    font-size: 16px;
}

.headbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 3px;
    height: 70px;
}

.playlist {
    color: white;
    padding: 16px;
    height: 700px;
}

.cardcont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    overflow-y: auto;
    max-height: 63vh;
}

.playlist .card {
    margin-top: 15px;
    width: 180px;
    border-radius: 5px;
    padding: 10px;
    background-color: #252525;
    position: relative;
    transition: all .4s;
}

.details {
    max-width: 130px;
}

.card img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: contain;
    position: relative;
}

:root {
    --a: 0;
}

.play {
    width: 22px;
    height: 22px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    position: absolute;
    right: 17px;
    bottom: 88px;
    color: black;
    opacity: var(--a);
    transition: all 0.5s ease-out;

}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.sign {
    background-color: #121212;
    color: rgb(173, 165, 165);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}

.sign:hover {
    font-size: 1.05rem;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.login {
    border-radius: 20px;
    background-color: white;
    color: black;
    width: 80px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;

}



.login:hover {
    font-size: 17px;
    cursor: pointer;
    transition: .2s;

}



.playbar {
    background-color: black;
    margin-top: 10px;
    min-height: 100px;
    width: 75vw;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}


.playbar img {
    display: flex;
    padding: 4px;
}

.songbut img {
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.songbut {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 12px;
    margin-bottom: 30px;
    position: fixed;


}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 15px;
    cursor: pointer;
    padding: 10px 0;
    width: 300px;
    margin: 10px 0px;
    padding: 10px;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: 0px;


}

.songlist ul li:hover {
    background-color: rgb(105, 103, 103, 0.3);
    transition: 0.2s;
    border-radius: 6px;

}

.songlist ul {
    padding: 0 35px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 70vh;
    margin-top: 15px;
}

.playnow {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 64px;
    padding: 12px;

}

.playnow pre {
    position: relative;
    right: 30%;
}

.playnow img {
    position: relative;
    right: 40%;
}

.seekbar {
    height: 5px;
    background-color: gray;
    position: absolute;
    bottom: 25px;
    width: 75%;
    border-radius: 10px;
    cursor: pointer;
}
.songlev {
    background-color: white;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
}
.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: all 0.2s;
    cursor: pointer;
}
.info {
    font-size: 15px;
    width: 200px;
}



.songinfo {
    right: 100px;
    position: relative;
    max-width: 300px;
    margin-bottom: 25px;
    font-weight: 500;
}

.songtime {
    position: absolute;
    right: 10%;
    top: 25px;
    margin-bottom: 15px;

}

#play {
    width: 22px;
    height: 22px;
    background-color: black;
    border: 2px solid white;
}

.rbar {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.search {
    display: flex;

}
.vol {
    position: fixed;
    left: 71%;
    bottom: 45px;
    cursor: pointer;

}
.volseek {
    background-color: gray;
    height: 6px;
    border-radius: 10px;
    cursor: pointer;
    bottom: 58px;
    justify-content: center;
    align-items: center;
    right: 20%;
    width: 90px;
    display: flex;
    position: fixed;

}


.volcir {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 100%;
    transition: all 0.1s;
}
.vollev {
    background-color: white;
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    left: 0%;
    transition: all 0.1s;
}

.hamburger {
    display: none;
    margin: 0px 15px 0px 2px;
    cursor: pointer;
}

.close {
    padding: 5px;
    display: none;
    cursor: pointer;

}

@media (max-width : 1350px) {
    .playnow pre {
        right: 55px;
        font-size: 14px;
    }

    .playnow img {
        right: 60px;
        font-size: 14px;
    }

    .details {
        max-width: 80vw;
    }
}
@media (max-width : 350px)
{

    .lib{
        margin : 5px;
    }
    .home{
        margin : 5px;
        margin-top : 15px;
        margin-bottom : 10px;
    }
    .songlist ul li{
        padding-left : 0px;
    }
}

@media (max-width : 1200px) {
    .left {
        position: absolute;
        left: -200%;
        transition: all 0.9s;
        z-index: 1;
        width: 370px;

    }

    .details {
        max-width: 90vw;
        font-size: 14px;
    }

    .playnow pre {
        right: 10px;
        font-size: 14px;
    }

    .playnow img {
        right: 5px;
        font-size: 14px;
    }

    .songlist ul {
        padding: 10px;
    }

    .playbar {
        transition: all 0.9s;
        width: 100vw;
        font-size: 14px;
        height: 140px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seekbar {
        width: 75vw;
        bottom: 15px;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: block;
        left: 70px;
        position: relative;
        left: 50px;
        bottom: 5px;
    }

    .songinfo {
        font-size: 14px;
        width: 150vw;
        position: relative;
        top: -17px;
        text-align: center;
        left: 0%;

    }

    .lib {
        max-width: 100vw;
    }

    .songlist ul li {
        margin-left: 0px;
    }

    .logo {
        position: relative;
        right: 50px;
        bottom: -5px;
    }

    .hi {
        display: flex;
        justify-content: space-around;
    }


    .songtime {
        left: -45px;
        top: 10%;
        position: relative;
        text-align: center;
    }

    #prev {
        position: relative;
        top: -10px;
    }

    #next {
        position: relative;

        top: -10px;
    }

    .snb {
        position: relative;
        top: -10px;
    }

    .vol {
        position: relative;
        width: 5px;
        bottom: -60%;
        left: -80px;
    }
    .volseek{
        position: relative;
        top: 100%;
        left: 30%;
    }

    .playlist {
        font-size: 14px;
        position: relative;
    }

    .cardcont {
        justify-content: center;
    }

    .right {
        width: 100vw;
    }
}
@media (max-height : 850px) and (max-width : 1200px){ 
    .cardcont {
        min-height: 30vh;
    }        
}
@media (max-height : 750px){ 
    .cardcont {
        max-height: 55vh;
    } 
}
@media (max-height : 1400px) and (min-height : 850px){ 
    
    .playlist {
        height: 100vh;
    }
    .songtime {
        left: -45px;
        top: -40%;
        position: relative;
        text-align: center;
    }

    #prev {
        position: relative;
        top: -25px;
    }

    #next {
        position: relative;

        top: -25px;
    }

    .snb {
        position: relative;
        top: -25px;
    }

    .volseek {
        left: 50px;
        width: 90px;
        top: 15px;
        display: flex;
        position: relative;

    }

    .vol {
        position: relative;
        width: 5px;
        bottom: 0%;
        left: -80px;
    }
    .seekbar {
        bottom: 30px;
    }
    .songinfo {
        position: relative;
        top: -35px;

    }

}
